{% extends 'base.html' %}
{% block content %}
<!-- 현장 등록 -->
<div class="container">
    <div class="site-add-container">
        <h5 class="my-3 border-bottom pb-2">현장 등록</h5>
        <form method="post" class="my-3" onkeydown="return event.key !== 'Enter';">
            {{ form.hidden_tag() }}  <!-- CSRF 보호 포함 -->

            <div class="mb-3">
                <label for="district">지역</label>
                {{ form.district(class="form-control") }}
            </div>

            <div class="mb-3">
                <label for="address">주소</label>
                {{ form.address(class="form-control") }}
            </div>

            <div class="mb-3">
                <label for="residence_type">건물 형태</label>
                {{ form.residence_type(class="form-control") }}
            </div>

            <div class="mb-3">
                <label for="room_size">평수 or 집 구조</label>
                {{ form.room_size(class="form-control") }}
            </div>

            <div class="mb-3">
                <label for="depositor">입금자명</label>
                {{ form.depositor(class="form-control") }}
            </div>

            <div class="mb-3">
                <label for="customer_phone">고객 연락처</label>
                {{ form.customer_phone(class="form-control") }}
            </div>

            <div class="mb-3">
                <label for="notes">메모</label>
                {{ form.notes(class="form-control") }}
            </div>

            <div class="mb-3">
                <label for="tax_id">세금 처리</label>
                {{ form.tax_id(class="form-control") }}
            </div>

            <button type="submit" class="btn btn-primary">저장하기</button>
        </form>
    </div>
</div>
{% endblock %}