{% extends "base.html" %}
{% block content %}
<div class="teamBody">
    <div class="teamContainer button-container">
        <p class="job">청소</p>
        <div id="portrait-1" class="row mb-4 mt-5">
            <div class="col">
                <button class="btn btn-secondary btn-custom" data-id="cl_001"></button>
            </div>
            <div class="col">
                <button class="btn btn-secondary btn-custom" data-id="cl_002"></button>
            </div>
            <div class="col">
                <button class="btn btn-secondary btn-custom" data-id="cl_003"></button>
            </div>
            <div class="col">
                <button class="btn btn-secondary btn-custom" data-id="cl_004"></button>
            </div>
        </div>
        <div id="info-container-1" class="info-container mt-5"></div>

        <div id="portrait-2" class="row mb-4 mt-5">
            <div class="col">
                <button class="btn btn-secondary btn-custom" data-id="cl_005"></button>
            </div>
            <div class="col">
                <button class="btn btn-secondary btn-custom" data-id="cl_006"></button>
            </div>
            <div class="col">
                <button class="btn btn-secondary btn-custom" data-id="cl_007"></button>
            </div>
            <div class="col">
                <button class="btn btn-secondary btn-custom" data-id="cl_008"></button>
            </div>
        </div>
        <div id="info-container-2" class="info-container mt-5"></div>
        
        <p class="job">줄눈</p>
        <div id="portrait-3" class="row mb-4 mt-5">
            <div class="col">
                <button class="btn btn-secondary btn-custom" data-id="gr_001"></button>
            </div>
            <div class="col">
                <button class="btn btn-secondary btn-custom" data-id="gr_002"></button>
            </div>
            <div class="col">
                <button class="btn btn-secondary btn-custom" data-id="gr_003"></button>
            </div>
            <div class="col">
                <button class="btn btn-secondary btn-custom" data-id="gr_004"></button>
            </div>
        </div>
        <div id="info-container-3" class="info-container mt-5"></div>

        <p class="job">탄성</p>
        <div id="portrait-4" class="row mb-4 mt-5">
            <div class="col">
                <button class="btn btn-secondary btn-custom" data-id="el_001"></button>
            </div>
            <div class="col">
                <button class="btn btn-secondary btn-custom" data-id="el_002"></button>
            </div>
            <div class="col">
                <button class="btn btn-secondary btn-custom" data-id="el_003"></button>
            </div>
            <div class="col">
                <button class="btn btn-secondary btn-custom" data-id="el_004"></button>
            </div>
        </div>
        <div id="info-container-4" class="info-container mt-5"></div>

        <p class="job">생활코팅</p>
        <div id="portrait-5" class="row mb-4 mt-5">
            <div class="col">
                <button class="btn btn-secondary btn-custom" data-id="co_001"></button>
            </div>
            <div class="col">
                <button class="btn btn-secondary btn-custom" data-id="co_002"></button>
            </div>
            <div class="col">
                <button class="btn btn-secondary btn-custom" data-id="co_003"></button>
            </div>
            <div class="col">
                <button class="btn btn-secondary btn-custom" data-id="co_004"></button>
            </div>
        </div>
        <div id="info-container-5" class="info-container mt-5"></div>
    </div>
    <div class="blank row mb-4 mt-5"></div>

    <a href="#" class="float">
        <i class="my-float">현장 배정</i>
    </a>
</div>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/b4ootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<!-- JavaScript 코드 -->
<script src="{{ url_for('static', filename='js/teams.js') }}" defer></script>
{% endblock %}