a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    color: darkslateblue;
    font-weight: bold;
}

body {
    background-color: #c4d7d9;
    color: black;
}

li {
    margin-top: 1vh;
}

h2 {
    font-size: 30px;    
    font-weight: bold;
}

.container {
    margin-top: 5vh;
}

/* 컨테이너 스타일 */
.individual-container {
    margin-top: 10px;
    height: auto;
    background-color: #f0f0f0; /* 밝은 회색 */
    padding: 20px; /* 내부 여백 추가 */
    border-radius: 8px; /* 둥근 모서리 */
    border: 1px solid #ccc; /* 경계선 */
}

.small-container {
    margin-top: 15px;
    margin-bottom: 15px;
}

.paintPriceResult {
    font-size: 30px;
    font-weight: bold;
}

.priceResult {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color:blue;
}

.totalPriceResult{
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #f0f0f0;
}

.priceContainer {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    color:blue;
}

.customerInfo {
    font-size: 30px;
    font-weight: bold;
    color:white;
    line-height: 0.8;
}

.detail-option {
    margin-top: 15px;
}

table, td, th {
    border : 1px solid black;
    border-collapse : collapse;
    line-height: 30px;
}

td {
    padding: 10px;
}

table {
    width : auto;
    height : auto;
}

th{
    text-align: center;
}

#estimateTable {
    background-color: #F0FFFF
}

#estimateTableContainer {
    display: none; /* 초기에는 숨겨둠 */
    margin-top: 20px;
}

.detailItem{
    font-weight: 700;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

summary {
    list-style: none; /* 기본 마커 제거 */
    cursor: pointer;
}

summary::marker {
    content: ""; /* 마커 제거 */
}

#paint-container,
#julun-container,
#coating-container {
    transition: background-color 0.3s ease-in-out; /* 배경색 변화 시간과 속도 설정 */
}

#paint-container:hover,
#julun-container:hover,
#coating-container:hover {
    background-color:#FFFF66;
}

.initializeButton{
    float: right;
}

#totalPriceResult,
#discount{
    position: fixed; /*고정된 위치로 해야 스크롤에 영향을 받지않는다.*/
    z-index: 999; /*해당 위치에 어떤게 오더라도 가려지지않도록 z값을 넣는다.*/
}

/*팀 리스트 관련 css*/

.teamBody {
    font-family: Arial, sans-serif; /* 선택사항: 전체 글꼴 설정 */
    margin: 20px;
    padding-left: 10vh;
    padding-right: 10vh;
}

.btn-custom {
    width: 100%;
    height: 200px;
    font-size: 34px;
    font-weight: bold;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    color: white;
    border: none;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    filter: brightness(0.5);
    transition: filter 0.3s ease, transform 0.2s ease, z-index 0.2s ease;
    position: relative; /* z-index를 적용하기 위해 추가 */
}

.btn-custom:hover {
    filter: brightness(0.7);
    transform: scale(1.3);
    z-index: 10; /* 다른 요소 위로 올라오도록 설정 */
    transition: filter 0.4s ease, transform 0.4s ease;
}

.btn-custom.active {
    filter: brightness(1.1); /* 클릭된 버튼은 더 밝게 표시 */
    transform: scale(1.5); /* 클릭된 버튼은 확대 상태 유지 */
    z-index: 10; /* 다른 요소 위로 유지 */
}

.job {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 1rem;
}


/* alert 요소 자체에 여백 추가 */
.alert {
    font-size: 2rem;
    margin-top: 2rem;
    margin: 7vh;
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.blank {
    padding: 15vh;
}

.float{
    position:fixed;
    width:300px;
    height:90px;
    bottom:40px;
    right:40px;
    background-color:rgb(58, 255, 206);
    color:#000000;
    border-radius:50px;
    text-align:center;
    font-size: 50px;
  }
  
  .my-float{
    margin-top:22px;
  }

  .work-add-container{
    width: 50vh;
  }