<div class="individual-container">
        <h4>시공 선택</h4>
        <label for="checkCleaning">
            <input type="checkbox" id="checkCleaning" name="" value="">
            입주청소
        </label><br>
        <label for="checkGrouting">
            <input type="checkbox" id="checkGrouting" name="" value="">
            줄눈시공
        </label><br>
        <label for="checkKera">
            <input type="checkbox" id="checkKera" name="" value="">
            케라폭시
        </label><br>
        <label for="checkPainting">
            <input type="checkbox" id="checkPainting" name="" value="">
            탄성코트
        </label><br>
        <label for="checkCoating">
            <input type="checkbox" id="checkCoating" name="" value="">
            생활코팅
        </label><br>
        <label for="checkNewhouse">
            <input type="checkbox" id="checkNewhouse" name="" value="">
            새집증후군 솔루션
        </label><br>
        <label for="checkFloorCoating">
            <input type="checkbox" id="checkFloorCoating" name="" value="">
            마루코팅
        </label><br>
        <label for="checkAppliance">
            <input type="checkbox" id="checkAppliance" name="" value="">
            가전분해청소
        </label><br>
    </div>
</div>