<div id="grouting-container" class="individual-container hide">
    <h2>줄눈시공</h2>
        <div class="individual-container">
            <h5>패키지</h5>
            <label for="gr_9_1">
            <input class="gr_package_checkbox" type="checkbox" id="gr_9_1" name="">베이직</label><br>
            <label for="gr_9_2">
            <input class="gr_package_checkbox" type="checkbox" id="gr_9_2" name="">스탠다드</label><br>
            <label for="gr_9_3">
            <input class="gr_package_checkbox" type="checkbox" id="gr_9_3" name="">프리미엄</label><br>
        </div>
        <div class="row">
            <div class="col">
                <div id="groutFloor" class="detail-option">
                    <h3>바닥</h3>
                        <label for="gr_1_1">
                        <input class="gr_checkbox" type="checkbox" id="gr_1_1" name="" value="16">욕실 1개소&#40;+현관&#41;</label><br>
                        <label for="gr_1_2">
                        <input class="gr_checkbox" type="checkbox" id="gr_1_2" name="" value="17">욕실 2개소&#40;+현관&#41;</label><br>
                        <label for="gr_1_3">
                        <input class="gr_checkbox" type="checkbox" id="gr_1_3" name="" value="21">발코니</label><br>
                        <label for="gr_1_4">
                        <input class="gr_checkbox" type="checkbox" id="gr_1_4" name="" value="18">세탁실</label><br>
                        <label for="gr_1_5">
                        <input class="gr_checkbox" type="checkbox" id="gr_1_5" name="" value="19">보일러실</label><br>
                        <label for="gr_1_6">
                        <input class="gr_checkbox" type="checkbox" id="gr_1_6" name="" value="20">대피소</label><br>
                        <label for="gr_1_7">
                        <input class="gr_checkbox" type="checkbox" id="gr_1_7" name="" value="22">거실, 주방, 복도</label><br>
                        <label for="gr_1_8">
                        <input class="gr_checkbox" type="checkbox" id="gr_1_8" name="" value="23">거실, 주방, 복도, 방포함</label><br>
                        <div class="priceResult" id="groutPriceFloor"></div>
                </div>
            </div>
            <div class="col">
                <div id="groutWall" class="detail-option">
                    <h3>벽면</h3>
                    <label for="gr_2_1">
                    <input class="gr_checkbox" type="checkbox" id="gr_2_1" name="" value="26">욕실 벽면 전체 1개소</label><br>
                    <label for="gr_2_2">
                    <input class="gr_checkbox" type="checkbox" id="gr_2_2" name="" value="27">욕실 벽면 전체 2개소</label><br>
                    <label for="gr_2_3">
                    <input class="gr_checkbox" type="checkbox" id="gr_2_3" name="" value="28">샤워부스 안쪽 벽면</label><br>
                    <label for="gr_2_4">
                    <input class="gr_checkbox" type="checkbox" id="gr_2_4" name="" value="29">욕조 라인 벽면</label><br>
                    <label for="gr_2_5">
                    <input class="gr_checkbox" type="checkbox" id="gr_2_5" name="" value="30">주방 벽면</label><br>
                    <label for="gr_2_6">
                    <input class="gr_checkbox" type="checkbox" id="gr_2_6" name="" value="31">거실 아트월</label><br>
                    <div class="priceResult" id="groutPriceWall"></div>
                    
                </div>
            </div>
        </div>
        <div id="groutSilicone" class="detail-option">
            <h3>실리콘 오염 방지</h3>
                <label for="gr_3_1">
                <input class="gr_checkbox" type="checkbox" id="gr_3_1" name="" value="32">욕실</label><br>
                <label for="gr_3_2">
                <input class="gr_checkbox" type="checkbox" id="gr_3_2" name="" value="33">주방</label><br>
                <label for="gr_3_3">
                <input class="gr_checkbox" type="checkbox" id="gr_3_3" name="" value="34">욕실1개소+주방</label><br>
                <label for="gr_3_4">
                <input class="gr_checkbox" type="checkbox" id="gr_3_4" name="" value="35">욕실2개소+주방</label><br>
                <div class="priceResult" id="groutPriceSilicone"></div>
        </div>            
    <div class="priceResult" id="groutPriceTotal"></div>
</div>
