<div id="grouting-container" class="individual-container hide">
    <h2>줄눈시공</h2>
        <div class="individual-container">
            <h5>패키지</h5>
                {% for item in grout_package_items %}
                    <label for="{{ item.service_id|lower }}_{{ item.category_code }}_{{ item.code }}">
                        <input
                        class="{{ item.service_id|lower }}_checkbox"
                        type="checkbox"
                        id="{{ item.service_id|lower }}_{{ item.category_code }}_{{ item.code }}"
                        data-service-option-id="{{ item.id }}">

                        {{ item.name }}
                        
                        <span class="price-label" id="price_{{ item.service_id|lower }}_{{ item.category_code }}_{{ item.code }}"></span>
                    </label><br>
                {% endfor %}
        </div>
        <div class="row">
            <div class="col">
                <div id="groutFloor" class="detail-option">
                    <h3>바닥</h3>
                    {% for item in grout_floor_items %}
                        {% if item.code not in [9, 10] %} {# 옵션코드 9, 10 제외. 즉 포세린 제외 #}
                        <label for="{{ item.service_id|lower }}_{{ item.category_code }}_{{ item.code }}">
                            <input class="{{ item.service_id|lower }}_checkbox" type="checkbox" id="{{ item.service_id|lower }}_{{ item.category_code }}_{{ item.code }}" data-service-option-id="{{ item.id }}">
                            {{ item.name }}
                            <span class="price-label" id="price_{{ item.service_id|lower }}_{{ item.category_code }}_{{ item.code }}"></span>
                        </label><br>
                        {% endif %}
                    {% endfor %}
                    <!--<div class="priceResult" id="groutPriceFloor"></div>-->
                </div>
            </div>
            <div class="col">
                <div id="groutWall" class="detail-option">
                    <h3>벽면</h3>
                    {% for item in grout_wall_items %}
                        <label for="{{ item.service_id|lower }}_{{ item.category_code }}_{{ item.code }}">
                            <input class="{{ item.service_id|lower }}_checkbox" type="checkbox" id="{{ item.service_id|lower }}_{{ item.category_code }}_{{ item.code }}" data-service-option-id="{{ item.id }}">
                            {{ item.name }}
                            <span class="price-label" id="price_{{ item.service_id|lower }}_{{ item.category_code }}_{{ item.code }}"></span>
                        </label><br>
                    {% endfor %}

                    <!--<div class="priceResult" id="groutPriceWall"></div>-->
                    
                </div>
            </div>
        </div>
        <div id="groutSilicone" class="detail-option">
            <h3>실리콘 오염 방지</h3>
                {% for item in grout_silicone_items %}
                    <label for="{{ item.service_id|lower }}_{{ item.category_code }}_{{ item.code }}">
                        <input class="{{ item.service_id|lower }}_checkbox" type="checkbox" id="{{ item.service_id|lower }}_{{ item.category_code }}_{{ item.code }}" data-service-option-id="{{ item.id }}">
                        {{ item.name }}
                        <span class="price-label" id="price_{{ item.service_id|lower }}_{{ item.category_code }}_{{ item.code }}"></span>
                    </label><br>
                {% endfor %}
                <!--<div class="priceResult" id="groutPriceSilicone"></div>-->
        </div>        
    <!--금액 표시-->
    <div class="priceResult" id="groutPriceTotal"></div>
    <!--작업 일정-->
    {% import "macro/work_date.html" as date_range %}
    {{ date_range.date_range_inputs(start_id='gr_start', end_id='gr_end') }}
</div>
