<div id="kera-container" class="individual-container hide">
        <h2>케라폭시</h2>
            <div class="individual-container">
                <h5>패키지</h5>
                {% for item in kera_package_items %}
                    <label for="kp_{{ item.category_code }}_{{ item.code }}">
                        <input class="kp_checkbox" type="checkbox" id="kp_{{ item.category_code }}_{{ item.code }}" value="{{ item.id }}">
                        {{ item.name }}
                        <span class="price-label" id="price_kp_{{ item.category_code }}_{{ item.code }}"></span>
                    </label><br>
                {% endfor %}
            </div>
        <div class="row">
            <div class="col">
                <div id="keraFloor" class="detail-option">
                    <h3>바닥</h3>
                    {% for item in kera_floor_items %}
                        {% if item.code not in [10, 11] %} {# 옵션코드 10, 11 제외. 즉 포세린 제외 #}
                        <label for="kp_{{ item.category_code }}_{{ item.code }}">
                            <input class="kp_checkbox" type="checkbox" id="kp_{{ item.category_code }}_{{ item.code }}" value="{{ item.id }}">
                            {{ item.name }}
                            <span class="price-label" id="price_kp_{{ item.category_code }}_{{ item.code }}"></span>
                        </label><br>
                        {% endif %}
                    {% endfor %}
                    <!--<div class="priceResult" id="keraPriceFloor"></div>-->
                </div>
            </div>
            <div class="col">
                <div id="keraWall" class="detail-option">
                    <h3>벽면</h3>
                    {% for item in kera_wall_items %}
                        <label for="kp_{{ item.category_code }}_{{ item.code }}">
                            <input class="kp_checkbox" type="checkbox" id="kp_{{ item.category_code }}_{{ item.code }}" value="{{ item.id }}">
                            {{ item.name }}
                            <span class="price-label" id="price_kp_{{ item.category_code }}_{{ item.code }}"></span>
                        </label><br>
                    {% endfor %}
                    <!--<div class="priceResult" id="keraPriceWall"></div>-->
                </div>
            </div>
        </div>           
    <!--금액 표시-->
    <div class="priceResult" id="keraPriceTotal"></div>
    <!--작업 일정-->
    {% import "macro/work_date.html" as date_range %}
    {{ date_range.date_range_inputs(start_id='kp_start', end_id='kp_end') }}
</div>