<div id="kera-container" class="individual-container hide">
        <h2>케라폭시</h2>
        <div class="row">
            <div class="col">
                <div id="keraFloor" class="detail-option">
                    <h3>바닥</h3>
                        <label for="kp_1_1">
                        <input class="kp_checkbox" type="checkbox" id="kp_1_1" name="">현관</label><br>
                        <label for="kp_1_2">
                        <input class="kp_checkbox" type="checkbox" id="kp_1_2" name="">욕실</label><br>
                        <label for="kp_1_3">
                        <input class="kp_checkbox" type="checkbox" id="kp_1_3" name="">발코니</label><br>
                        <label for="kp_1_4">
                        <input class="kp_checkbox" type="checkbox" id="kp_1_4" name="">세탁실</label><br>
                        <label for="kp_1_5">
                        <input class="kp_checkbox" type="checkbox" id="kp_1_5" name="">보일러실</label><br>
                        <label for="kp_1_6">
                        <input class="kp_checkbox" type="checkbox" id="kp_1_6" name="">대피소</label><br>
                        <label for="kp_1_7">
                        <input class="kp_checkbox" type="checkbox" id="kp_1_7" name="">거실, 주방, 복도</label><br>
                        <label for="kp_1_8">
                        <input class="kp_checkbox" type="checkbox" id="kp_1_8" name="">거실, 주방, 복도, 방포함</label><br>
                        <div class="priceResult" id="keraPriceFloor"></div>
                </div>
            </div>
            <div class="col">
                <div id="keraWall" class="detail-option">
                    <h3>벽면</h3>
                    <label for="kp_2_1">
                    <input class="kp_checkbox" type="checkbox" id="kp_2_1" name="">욕실 벽면 전체</label><br>
                    <label for="kp_2_2">
                    <input class="kp_checkbox" type="checkbox" id="kp_2_2" name="">샤워부스 안쪽 벽면</label><br>
                    <label for="kp_2_3">
                    <input class="kp_checkbox" type="checkbox" id="kp_2_3" name="">욕조 라인 벽면</label><br>
                    <label for="kp_2_4">
                    <input class="kp_checkbox" type="checkbox" id="kp_2_4" name="">주방 벽면</label><br>
                    <label for="kp_2_5">
                    <input class="kp_checkbox" type="checkbox" id="kp_2_5" name="">거실 아트월</label><br>
                    <div class="priceResult" id="keraPriceWall"></div>
                </div>
            </div>
        </div>                   
    <div class="priceResult" id="keraPriceTotal"></div>
</div>