<div id="paint-container" class="individual-container hide">
    <h2>탄성코트</h2>
    <select class="dropdown" id="paintOptionSelector">

        <option value="" selected>페인트 선택</option>
        {% for item in paint_items %}
            <option
                value="{{ item.name }}"
                id="{{ item.service_id|lower }}_{{ item.category_code }}_{{ item.code }}"
                data-service-option-id="{{ item.id }}">

                {{ item.name }}

            </option>
        {% endfor %}

    </select><br>
    <!--금액 표시-->
    <div class="priceResult" id="paintPrice"></div>
    <!--작업 일정-->
    {% import "macro/work_date.html" as date_range %}
    {{ date_range.date_range_inputs(start_id='pt_start', end_id='pt_end') }}
</div>