<div id="floorCoating-container" class="individual-container hide">
    <h2>마루코팅</h2>
    <select class="dropdown" id="floorCoatingOptionSelector">
        <option value="" selected>마루코팅 범위 선택</option>
        <option value="60" id="fc_1_1">거실, 주방, 복도</option>
        <option value="61" id="fc_1_2">거실, 주방, 복도, 방 전체</option>
    </select><br>
    <!--금액 표시-->
    <div class="priceResult" id="floorCoatingPrice"></div>
    <!--작업 일정-->
    {% import "macro/work_date.html" as date_range %}
    {{ date_range.date_range_inputs(start_id='fc_start', end_id='fc_end') }}
</div>