<div id="floorCoating-container" class="individual-container hide">
    <h2>마루코팅</h2>
    <select class="dropdown" id="floorCoatingOptionSelector">

        <option value="" selected>마루코팅 범위 선택</option>
        {% for item in floor_coating_items %}
            <option
                value="{{ item.name }}"
                id="{{ item.service_id|lower }}_{{ item.category_code }}_{{ item.code }}"
                data-service-option-id="{{ item.id }}">
                {{ item.name }}
            </option>
        {% endfor %}

    </select><br>

    
    <!--금액 표시-->
    <div class="priceResult" id="floorCoatingPrice"></div>
    <!--작업 일정-->
    {% import "macro/work_date.html" as date_range %}
    {{ date_range.date_range_inputs(start_id='fc_start', end_id='fc_end') }}
</div>