
<div id="appliances-container" class="individual-container hide">
    <h2>가전 분해 청소</h2>
        <div id="inputApPrice">
            <h3>에어컨</h3>
            <label>
                <input type="checkbox" id="check_ap_1_1">
                벽걸이
                <input type="number" id="price_ap_1_1" placeholder="금액" disabled> 원
            </label><br>
            <label>
                <input type="checkbox" id="check_ap_1_2">
                스탠드
                <input type="number" id="price_ap_1_2" placeholder="금액" disabled> 원
            </label><br>
            <label>
                <input type="checkbox" id="check_ap_1_3">
                시스템
                <input type="number" id="price_ap_1_3" placeholder="금액" disabled> 원
            </label><br>
            <div class="priceResult" id="apAirconPrice"></div>
            <h3>세탁기</h3>
            <label>
                <input type="checkbox" id="check_ap_2_1">
                통돌이
                <input type="number" id="price_ap_2_1" placeholder="금액" disabled> 원
            </label><br>
            <label>
                <input type="checkbox" id="check_ap_2_2">
                빌트인
                <input type="number" id="price_ap_2_2" placeholder="금액" disabled> 원
            </label><br>
            <label>
                <input type="checkbox" id="check_ap_2_3">
                드럼
                <input type="number" id="price_ap_2_3" placeholder="금액" disabled> 원
            </label><br>
            <div class="priceResult" id="apWashingmachinePrice"></div>
        </div>
    <!--금액 표시-->
    <div class="priceResult" id="apPrice"></div>
    <!--작업 일정-->
    {% import "macro/work_date.html" as date_range %}
    {{ date_range.date_range_inputs(start_id='ap_start', end_id='ap_end') }}
</div>