<div id="appliances-container" class="individual-container hide">
    <h2>가전 분해 청소</h2>

    <div id="inputApPrice">
        <div id="airCon">
            <h3>에어컨</h3>
            {% for item in ap_ac_items %}
                <label for="{{ item.service_id|lower }}_{{ item.category_code }}_{{ item.code }}">
                    <input
                        class="{{ item.service_id|lower }}_checkbox"
                        type="checkbox"
                        id="{{ item.service_id|lower }}_{{ item.category_code }}_{{ item.code }}"
                        data-service-option-id="{{ item.id }}">
                    {{ item.name }}
                    <input type="number"
                        id="price_{{ item.service_id|lower }}_{{ item.category_code }}_{{ item.code }}"
                        placeholder="금액" disabled> 원
                </label><br>
            {% endfor %}
            <div class="priceResult" id="apAirconPrice"></div>
        </div>

        <div id="washingmachine">
            <h3>세탁기</h3>
            {% for item in ap_wm_items %}
                <label for="{{ item.service_id|lower }}_{{ item.category_code }}_{{ item.code }}">
                    <input
                        class="{{ item.service_id|lower }}_checkbox"
                        type="checkbox"
                        id="{{ item.service_id|lower }}_{{ item.category_code }}_{{ item.code }}"
                        data-service-option-id="{{ item.id }}">
                    {{ item.name }}
                    <input type="number"
                        id="price_{{ item.service_id|lower }}_{{ item.category_code }}_{{ item.code }}"
                        placeholder="금액" disabled> 원
                </label><br>
            {% endfor %}
            <div class="priceResult" id="apWashingmachinePrice"></div>
        </div>
    </div>

    <!-- 금액 표시 -->
    <div class="priceResult" id="apPrice"></div>

    <!-- 작업 일정 -->
    {% import "macro/work_date.html" as date_range %}
    {{ date_range.date_range_inputs(start_id='ap_start', end_id='ap_end') }}
</div>