{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <form id="priceForm">
                
                {% include "estimate/components/0_customer_info.html" %}
                {% include "estimate/components/0_service_selector.html" %}
                {% include "estimate/components/1_cleaning.html" %}
                {% include "estimate/components/2_grouting.html" %}
                {% include "estimate/components/3_kerapoxy.html" %}
                {% include "estimate/components/6_newhouse_solution.html" %}
                {% include "estimate/components/7_floor_coating.html" %}
                {% include "estimate/components/4_painting.html" %}
                {% include "estimate/components/5_coating.html" %}
                {% include "estimate/components/8_appliances.html" %}
                
                
            </form>
        </div>
        <div class="col">
            <div id="discountDiv">
                <label style="font-size:20px;">할인 금액 입력</label>
                <input type="number" id="discountInput">
            </div>
            <div id="beforeDiscount" class="totalPriceResult"></div>
            <div class="discountContainer">
                <div id="discount1" class="discount" ></div>
                <div id="discount2" class="discount" ></div>
                <!--줄눈 패키지-->
                <div id="packageGR1" class="discount" ></div>
                <div id="packageGR2" class="discount" ></div>
                <div id="packageGR3" class="discount" ></div>
            </div>
            <!-- <div id="discountAmount" class="totalPriceResult"></div> -->
            <div id="totalPriceResultFinal" class="totalPriceResult" style="position: fixed;"></div>

            <button type="button" id="generateEstimateButton">견적서 생성</button>
            <div id="estimateTableContainer" style="display: none;">
                <h2>시공 견적서</h2>
                <p class="customerInfo">고객명: <span id="displayCustomer">-</span></p>
                <p class="customerInfo">주   소: <span id="displayAddress">-</span></p>
                <table id="estimateTable" border="1">
                    <thead>
                        <tr>
                            <th colspan="2">총계</th>
                            <th colspan="2">계약금</th>
                        </tr>
                        <tr>
                            <th colspan="2" id="estimateTotalPrice"></th>
                            <th colspan="2">100,000원</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- 견적 항목이 여기에 추가됨 -->
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="2" id="discountAmount"></th>
                            <th colspan="2"></th>
                        </tr>
                    </tfoot>
                </table>
                <button type="button" id="downloadEstimatePDF">견적서 다운로드</button>
            </div>
        </div>
    </div>
</div>


<script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
<script src="https://unpkg.com/jspdf-autotable@3.8.4/dist/jspdf.plugin.autotable.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
<script src="{{ url_for('static', filename='js/estimate.js') }}"></script>
{% endblock %}