{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <a href="{{ url_for('site.create') }}" class="btn btn-primary" style="float: right;">현장 등록하기</a>
    <h2>견적서</h2>
    <div class="col-6">

    </div>
    <table class="table" style="width:70vw;">
        <thead>
            <tr class="table-primary">

            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3">현장이 없습니다.</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}